<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myasiny.sehirian">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon_launcher"
        android:roundIcon="@drawable/icon_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inbox2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Grade2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".File2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalculatorActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>