<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myasiny.sehirian">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimelineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GpaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>